* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
:root {
  --font-family: "mulish ", sans-serif;
  --bg-color: #151a25;
  --pink-color: #ff1a75;
}
body{
overflow-x:hidden ;
}
a {
  color: inherit;
}
/* flex */
.flex {
  display: flex;
  align-items: center;
}
/* header */
header {
  background-color: var(--bg-color);
  width: 100%;
position: relative;
  height: 100px;
  z-index: 1;
}
header nav {
  color: white;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
nav{
  display: flex;
  gap: 30px ;
}

.logo h1 {
  font-size: 35px;
  letter-spacing: 2px;
}
.logo h1 span {
  color: var(--pink-color);
}
.nav-list {
  gap: 30px; 
  display: flex;
width: 100%;
height: 100%;
}
.nav-list li a {
  font-size: 17px;
  transition: color 0.6s;
}
.nav-list li a:hover {
  color: #ff1a75;
}
.navright {
  gap: 20px;
}
/* darkmode */
.swtich {
  font-size: 17px;
  width: 3.3em;
  height: 2em;
  position: relative;
  display: inline-block;
}
.swtich input {
  width: 0;
  height: 0;
  opacity: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition:  all 0.7s cubic-bezier(0.175 , 0.885 , 0.32 , 1.275);
}
.slider::before{
    position: absolute;
    content: '';
    left: 0.2em;
    bottom: 0.2em;
    width: 1.4em;
    height: 1.4em;
background-color: white;
border-radius:inherit;
  transition:  all .7s cubic-bezier(0.23 , 1 , 0.320 , 1);

}
.swtich input:checked + .slider{
    box-shadow: 0 0 25px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
}
.swtich input:checked + .slider::before{
    transform: translateX(1.5em);
}
/* main */
main{
    width: 100%;
    height: auto;
}
.tophero{
    background-color: var(--bg-color);
    margin-bottom: 17rem;


}
.tophero .toptittle{
    width: 100%;
    height: 100%;
color: white;
}
.tophero .toptittle .container{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 8rem;
    padding-top: 6rem;
}

 .toptittle h1{
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 2rem;

 }

 .toptittle h1 span{
 color: #ff1a75;
 }
 .toptittle p {
    font-size: 22px;
    font-weight: 500;
    max-width: 800px;
    line-height: 1.6;
 }
 .submait{
    margin-top: 2.225rem;
    width: 28rem;

 }
 .submait form{
    position: relative;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.08);
    border-radius: 30px;

 }

 .submait form input{
    width: 100%;
    font-size: 18px;
    padding: 17px 0;
    padding-left: 1.75rem;
    padding-right: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
 }

  .submait form button {
    display:inline-block;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 100%;
    line-height: inherit;
    color: white;
    background-color: var(--pink-color);
    border: none;
    outline: none;
    border-radius: 9999px;
  }
   .featured {
    position: relative;
    height: 350px;
   }
   .border{
    width: 100%;
    height: 2px;
    background-color: gray;
   }
   .featuredposts{
    position: relative;
    padding-top: 1rem;
    color: white;
    padding-bottom: 14rem;
   }
   .fetittle{
    justify-content: space-between;

   }
   .fe h3{
    font-size: 1.10rem;
    font-weight: 600;
    line-height: 2.2rem;
   }
   .lfbtn button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
   }
   .lfbtn button:first-child{
    margin-right: 12px;
    opacity: 0.4;
   }
   .feposts{
    width: 100vw;
    position: absolute;
    left: 0;
    padding-top: 1.2rem;
    gap: 20px;
    scroll-behavior: smooth;
    user-select: none;
    overflow-x: scroll;
    transition: 0.6s ease;
    z-index: 9999;
   }
   .feposts::-webkit-scrollbar{
    display: none;

   }
   .fepost{
    height: 480px;
    min-width: 400px;
    max-width: 400px;
    overflow: hidden;
    
    position: relative;
   }
   .fepost:last-child{
    margin-right:43rem;
   }
   .fepost a img{
    width: 100%;
    height: 100%;
    object-fit: cover;

   }
   .fpostinfo{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;

   }
   .tags{
    display: flex;
    gap: 10px;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    
   }
   .tags a {
    background-color: white;
    padding: 5px 10px;
    color: black;
    border-radius: 999px;
    font-size: 20px;
    text-transform: capitalize;
    transition: 0.5s ease;
   }
   .tags a:hover{
    background-color: var(--pink-color);
   }
   .apple span{
    background-color: black;
    border-radius: inherit;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    align-items: center;

   }
   .google span{
    background-color: greenyellow;
    border-radius: inherit;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    align-items: center;

   }
   .apps span{
    background-color: rgb(0, 132, 255);
    border-radius: inherit;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    align-items: center;

   }
   .fpostby img{
    width: 32px;
    border-radius: 50%;
   }
   .fpostby p{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
   }
   /* topherosec */

   .topherosec{
    width: 100%;
   margin-bottom: 4rem;
   }
   
   .tpherodata{
    width: 100%;
    margin-top: 1.5rem;
   }
   .tptittle h3{
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 600;
   }
   .tposts{
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
    gap: 20px;
   }
   .tpost{
    min-width: 30%;
    max-width: 30%;
    height: auto;
    position: relative;
    overflow: hidden;
z-index: 999;
   }
   .tpostimg{
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
   ]
   }
   .tpostimg a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .tag{
      display: flex;
    gap: 10px;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    position: absolute;
    left: 1rem;
    bottom: 0;
  
   }

   .tag a{
    background-color: white;
    padding: 5px 10px;
    border-radius: 99px;
   }
   .tpinfo{
    width: 100%;
    margin-top: 1rem;

   }
 .tpinfo h4 {
  gap: 10px;
  padding: 10px 0;
 }
   .tpinfo h4 a img{
    width: 32px;
    border-radius: 50%;
   
   }





   /* pupar */
   .pupar{
    width: 100%;
    margin-bottom: 4rem;
   }
  .ptittle h1 {
   font-size: 1.4rem;
   margin-top: 0.75rem;
  }
  .pupardata{
    width: 100%;
    height: 100%;
   margin-top: 1.2rem;

  }
  .puparposts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 20px;
    align-items: center;
  }
  .ppost{
    width: 190px;
    height: 150px;
    overflow: hidden;
    position: relative;
border-radius: 10px;  
}
.ppost a img{
  width: 100%;
  height: 100%;
  object-fit: cover;


}
.ptags{
  position: absolute;
  left: 1rem;
  bottom:1rem;
}
.ptags a{
  background-color: white;
  padding: 8px 10px;
  border-radius: 99px;
    margin-bottom: ;
  

}
 .menu{
  position: absolute;
  right: 30px;

display: none;
}



.footer{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: white;
 
}
.footer .textinfo{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer .textleft{
width:600px;
height: 100%;

} 
.footer .textleft .text-box p {
padding: 10px 0;
}
.footer .textleft  .text-title h1 span{
  color: var(--pink-color);
}
.footer .textleft .text-box p{
  font-size: 15px;
}
.footer .textright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.text-title{
  margin-bottom: 1.5rem;
  font-size: 22px;
  font-weight: 700;
}
.footer .textinfo .textright .text-box h4 {
padding: 5px 0;
font-size: 15px;
font-weight: 700;
}
@media screen and (max-width:780px) {
  .menu{
    display: block;
  }
   .nav-list{
      flex-direction: column;
      background:var(--bg-color);
      position: absolute;
    top: 0;
    right:-999px;
    width: 50%;
    height:100vh ;
    padding-top: 80px;
    z-index:99;
    opacity: 0.77;
   
    }
    
    .nav-list.active{
      right: 0;
    }
       .nav-list li:not(:last-child) {
    text-align: left;
      width: 100%;
      padding: 10px 20px;
      /* border-bottom: 2px solid rgb(228, 227, 227); */
    }
}
   @media screen and (min-width:220px) and (max-width:650px) {

   
 
 .submait {
  /* margin: 20px; */
  width: 100%;
 }
.tophero{
width: auto;

}
    .feposts{
      width: 100%;
    }
    .fepost{
      min-width: 100%;
      max-width: 100%;
    }
    .fepost:last-child{
      margin-right: 0rem;
    }
    .tposts{
      width: 100%;
    }
    .tags a{
 font-size: 10px;
 display: none;
    }
    .swtich{
      display: inline-block;
    overflow: hidden;
    }
    .tags a{
      background-color: none;
       font-size: 10px;
       padding: 10px;
    }
    .tpost{
      min-width: 100%;
      max-width: 100%;
    }
  .container{
  min-width: 100%;
  max-width: 100%;
  }

   .puparposts{
    width: 100%;
    flex-wrap: wrap;
   }
   .ppost{
    max-width: 100%;
    min-width: 100%;
   }
   .toptittle p{
    font-size: 15px;
   }
   .footer .textinfo{

  width: 100%;
  align-items: flex-start;
flex-wrap: wrap;   
   }
   .footer .textinfo .textleft{
    margin-right: 0;
   }
    .footer .textinfo .textright{
width: 100%;    }
.copyright{
  margin-top: 0.23rem;
}
.copyright {
margin-top:20px;
  font-size: 25px;
}
   }
  
